.addTask-form {
  width: 80%;
  background-color: white;
  text-align: center;
  padding: 20px;
  border-top: 20px solid rgb(146, 0, 0);
  margin: 20px;
  border-radius: 5px;

  &__label {
    display: block;
    padding: 5px;
    border-bottom: 2px solid black;
    margin: 2px;
  }
  &__label > p {
    text-transform: uppercase;
  }

  &__textinput {
    width: 80%;
    padding: 10px;
  }

  &__checkbox {
    width: 20px;
    border: none;
    background-color: yellow;
  }

  &__submit {
    width: 100px;
    text-transform: uppercase;
    color: white;
    background-color: rgb(146, 0, 0);
    padding: 10px;
    border: none;
    margin: 5px;
    border-radius: 5px;
  }
}
